<nav-bar></nav-bar>
 <!-- Header -->
 <header class="masthead bg-primary text-white text-center">
    <div class="container">
        <h1 class="text-uppercase mb-0">Usuario</h1>     
    </div>
</header>
<div class="portfolio" id="portfolio">
        <div class="container" style="margin:20px">
            <div class="row">
                <div class="col-lg-10 offset-lg-2">                    
                    <form class="row">
                        <div class="form-group col-lg-4">
                            <label for="exampleInputEmail1" ([ngModel])="nome">Nome</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome">
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="exampleInputPassword1" ([ngModel])="idade" >Idade</label>
                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Idade">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="exampleInputPassword1" ([ngModel])="cpf">cpf</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="cpf">
                            <small id="emailHelp" class="form-text text-muted">Este será o nome de usuário da plataforma.</small>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="exampleFormControlSelect1" ([ngModel])="permissao">Permissão</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option value="Usuário interno">Usuário interno</option>
                                <option value="Cliente">Cliente</option>
                                <option value="Administrador">Administrador</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="exampleInputPassword1" ([ngModel])="senha">Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                        </div>
                        <div class="col-lg-12">
                            <div  (click)="saveUser()" class="btn btn-success pull-right">Salvar</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>